In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/dataset.csv', index_col=0, header=[0, 1]).sort_index(axis=1)

In [5]:
df

                          A                                       AAL          \
                      close    high      low     open   volume  close    high
timestamp
2017-09-11 09:30:00     NaN     NaN      NaN      NaN      NaN  44.01  44.050
2017-09-11 09:31:00  65.460  65.500  65.4100  65.5000  29852.0  44.25  44.250
2017-09-11 09:32:00  65.660  65.660  65.4604  65.4604   3435.0  44.27  44.320
2017-09-11 09:33:00  65.690  65.700  65.6200  65.6700    700.0  44.34  44.460
2017-09-11 09:34:00  65.880  65.880  65.6800  65.6900   2814.0  44.24  44.360
...                     ...     ...      ...      ...      ...    ...     ...
2018-02-16 15:55:00  72.125  72.130  72.0900  72.0950  17309.0  51.76  51.760
2018-02-16 15:56:00  72.070  72.125  72.0700  72.1250  15441.0  51.77  51.780
2018-02-16 15:57:00  72.060  72.100  72.0500  72.0700  18096.0  51.75  51.780
2018-02-16 15:58:00  72.010  72.060  72.0100  72.0600  22146.0  51.70  51.755
2018-02-16 15:59:00  71.969  72.010  71.9300  72.0100  37277.0  51.63  51.700

                                               ...    ZION                \
                         low    open   volume  ...   close   high    low
timestamp                                      ...
2017-09-11 09:30:00  44.0100  44.010  39049.0  ...  42.040  42.05  42.04
2017-09-11 09:31:00  44.0000  44.010  32620.0  ...  42.240  42.54  42.01
2017-09-11 09:32:00  44.2200  44.250  22411.0  ...  42.480  42.48  42.09
2017-09-11 09:33:00  44.2504  44.280  45320.0  ...  42.200  42.49  42.18
2017-09-11 09:34:00  44.2200  44.340  17614.0  ...  42.380  42.38  42.23
...                      ...     ...      ...  ...     ...    ...    ...
2018-02-16 15:55:00  51.7350  51.735  20539.0  ...  55.180  55.19  55.16
2018-02-16 15:56:00  51.7450  51.755  37371.0  ...  55.185  55.19  55.16
2018-02-16 15:57:00  51.7450  51.770  40449.0  ...  55.150  55.19  55.15
2018-02-16 15:58:00  51.7000  51.750  52277.0  ...  55.190  55.20  55.14
2018-02-16 15:59:00  51.6200  51.700  75440.0  ...  55.155  55.18  55.13

                                         ZTS
                       open   volume   close    high     low    open   volume
timestamp
2017-09-11 09:30:00  42.050  26933.0     NaN     NaN     NaN     NaN      NaN
2017-09-11 09:31:00  42.060  39292.0  65.110  65.390  64.960  65.330  38144.0
2017-09-11 09:32:00  42.120   9683.0  65.120  65.230  65.075  65.115   4390.0
2017-09-11 09:33:00  42.490   7844.0     NaN     NaN     NaN     NaN      NaN
2017-09-11 09:34:00  42.280   6472.0  64.970  65.180  64.970  65.120   5515.0
...                     ...      ...     ...     ...     ...     ...      ...
2018-02-16 15:55:00  55.160  11646.0  79.910  79.940  79.870  79.870  13641.0
2018-02-16 15:56:00  55.170  10937.0  79.800  79.901  79.790  79.901  16029.0
2018-02-16 15:57:00  55.185  30957.0  79.805  79.870  79.790  79.800  23002.0
2018-02-16 15:58:00  55.150  46460.0  79.790  79.805  79.765  79.800  19650.0
2018-02-16 15:59:00  55.180  44811.0  79.780  79.790  79.740  79.780  39661.0

[43146 rows x 2510 columns]

In [19]:
symbols = set(df.T.index.get_level_values(0))
print(symbols)

{'HON', 'LRCX', 'ZTS', 'CMS', 'BA', 'DLTR', 'GIS', 'FAST', 'D', 'PEP', 'MAT', 'ED', 'MMC', 'MKC', 'ALB', 'IDXX', 'ROP', 'LEN', 'AFL', 'PSA', 'VZ', 'DAL', 'TSS', 'SYY', 'GD', 'MYL', 'CMI', 'TROW', 'NTAP', 'HSIC', 'BBT', 'PCG', 'ORLY', 'ANTM', 'CRM', 'KSS', 'MCD', 'INTU', 'VIAB', 'COP', 'HRB', 'IP', 'SJM', 'DTE', 'MLM', 'GWW', 'PAYX', 'AEP', 'MA', 'VRSN', 'ETFC', 'ROK', 'INCY', 'GILD', 'WLTW', 'HP', 'HCN', 'HOLX', 'IPG', 'BAC', 'ABC', 'ALLE', 'LEG', 'CMA', 'ULTA', 'VFC', 'DXC', 'DISCK', 'UNH', 'AMT', 'EMN', 'FTV', 'TWX', 'MCO', 'RSG', 'FDX', 'CI', 'BBY', 'QCOM', 'LLL', 'EVHC', 'PVH', 'WMT', 'JEC', 'MAA', 'DVN', 'ADP', 'STZ', 'ETN', 'TJX', 'MGM', 'PRU', 'PNR', 'ANSS', 'HBAN', 'WYNN', 'BDX', 'PCLN', 'SNI', 'USB', 'DE', 'GOOGL', 'CVX', 'SEE', 'UPS', 'UAA', 'HOG', 'NBL', 'AWK', 'PKG', 'NUE', 'NWSA', 'DWDP', 'BXP', 'ARE', 'AOS', 'XEL', 'ES', 'ORCL', 'FFIV', 'JBHT', 'MAS', 'NAVI', 'WYN', 'HPQ', 'AES', 'CA', 'BIIB', 'AAP', 'SYK', 'ADBE', 'EMR', 'STI', 'NLSN', 'XRAY', 'EQT', 'FBHS', 'UNM', 'GOOG', 'COL', 'HSY', 'PRGO', 'JNPR', 'EXPD', 'ADSK', 'RF', 'DOV', 'FLS', 'PKI', 'MDLZ', 'DRI', 'SNA', 'FOXA', 'WM', 'DRE', 'ADS', 'FMC', 'FISV', 'KMI', 'COST', 'LNC', 'CHRW', 'PCAR', 'KO', 'MO', 'AME', 'COH', 'MDT', 'WHR', 'CSCO', 'KHC', 'BAX', 'FB', 'KEY', 'MCK', 'M', 'TRIP', 'WY', 'DISH', 'HBI', 'WMB', 'COG', 'OKE', 'PHM', 'AMGN', 'BLK', 'KLAC', 'SCG', 'PFG', 'TGT', 'EXR', 'DPS', 'INTC', 'HCP', 'SBUX', 'ESRX', 'EQIX', 'UDR', 'PX', 'CDNS', 'CNP', 'DVA', 'NKE', 'EFX', 'ABT', 'BHGE', 'NWL', 'BMY', 'CHD', 'CF', 'GRMN', 'NOV', 'LYB', 'CBS', 'ITW', 'HAL', 'CTSH', 'MRK', 'AVB', 'FL', 'GPS', 'WU', 'SPG', 'XL', 'FE', 'CTAS', 'STT', 'VMC', 'SRE', 'EA', 'FLIR', 'EXPE', 'GS', 'NTRS', 'FTI', 'ARNC', 'AIV', 'AMG', 'NFX', 'SWKS', 'TAP', 'CFG', 'CAT', 'JWN', 'VLO', 'MTD', 'SHW', 'HPE', 'PEG', 'NOC', 'C', 'T', 'QRVO', 'TDG', 'DISCA', 'CERN', 'TEL', 'CMCSA', 'VNO', 'PSX', 'STX', 'CHK', 'WRK', 'IFF', 'COTY', 'GPN', 'PFE', 'GE', 'FOX', 'GM', 'RHI', 'MON', 'HCA', 'DG', 'CELG', 'PWR', 'SLB', 'SBAC', 'MAC', 'PG', 'DGX', 'ETR', 'SYF', 'ANDV', 'K', 'ECL', 'GPC', 'LNT', 'AET', 'RL', 'TSN', 'CTL', 'PLD', 'MCHP', 'CLX', 'PNW', 'IT', 'FITB', 'CINF', 'NEE', 'WEC', 'ALL', 'CMG', 'AYI', 'SRCL', 'AMD', 'KIM', 'KMB', 'XOM', 'CAG', 'BRK.B', 'CCL', 'AZO', 'JPM', 'XYL', 'APC', 'L', 'AVGO', 'PPG', 'DIS', 'ILMN', 'VRTX', 'PH', 'FLR', 'NDAQ', 'BHF', 'HAS', 'DLR', 'APH', 'UHS', 'SIG', 'ADI', 'KR', 'HUM', 'URI', 'NWS', 'IR', 'V', 'ALGN', 'CHTR', 'ROST', 'CME', 'GT', 'NI', 'BWA', 'Q', 'ALK', 'ABBV', 'ICE', 'TMK', 'VTR', 'IVZ', 'NEM', 'BF.B', 'OXY', 'PGR', 'RMD', 'HRL', 'ZION', 'A', 'TSCO', 'ACN', 'AKAM', 'PDCO', 'BLL', 'ATVI', 'AJG', 'DHI', 'CSRA', 'EOG', 'JCI', 'MAR', 'PNC', 'TMO', 'MPC', 'MRO', 'RTN', 'LKQ', 'CB', 'ZBH', 'EBAY', 'EW', 'AMP', 'TRV', 'AIG', 'MSFT', 'LB', 'AGN', 'MET', 'IRM', 'RE', 'HIG', 'GLW', 'GGP', 'SYMC', 'CCI', 'MHK', 'APA', 'RRC', 'OMC', 'PXD', 'COO', 'REG', 'AIZ', 'FRT', 'ALXN', 'SPGI', 'DFS', 'HRS', 'TXT', 'MU', 'CAH', 'O', 'XLNX', 'IBM', 'CXO', 'AXP', 'ADM', 'EQR', 'UA', 'WFC', 'NFLX', 'LOW', 'EL', 'CPB', 'NSC', 'INFO', 'UTX', 'BK', 'PPL', 'AEE', 'LLY', 'NVDA', 'TXN', 'RJF', 'AMZN', 'HLT', 'NRG', 'ESS', 'BEN', 'YUM', 'BSX', 'WDC', 'AAL', 'REGN', 'LUV', 'ISRG', 'VRSK', 'WBA', 'EIX', 'LUK', 'XRX', 'SLG', 'CBOE', 'PYPL', 'TIF', 'CNC', 'KORS', 'MS', 'DHR', 'CSX', 'HST', 'CBG', 'SWK', 'EXC', 'JNJ', 'SO', 'AVY', 'AAPL', 'VAR', 'PBCT', 'CTXS', 'APD', 'AMAT', 'DUK', 'FIS', 'HES', 'CL', 'PM', 'SCHW', 'LMT', 'AON', 'MSI', 'CVS', 'WAT', 'FCX', 'XEC', 'COF', 'F', 'RCL', 'SNPS', 'MMM', 'UAL', 'UNP', 'RHT', 'KSU', 'HD', 'LH', 'MTB', 'KMX', 'MOS', 'MNST'}